# Python Debugging Guide
**Authors: Orla Collins and Jacob Coutts**

You will inevitably come across errors in your code that you'll have to figure out how to fix. No need to panic - most errors are somewhat self-explanatory or solveable with a quick Google search. An error will always have a name that will give you some sense of what's wrong. Read the name and either see if it makes sense to you or search it in Python documentation (https://docs.python.org/3/library/exceptions.html) to determine what it might mean. Below we will go through some common errors that you might have in your code and what potentially could fix it. Keep in mind that this isn't all encompasssing and you will have to tweak your solution based on your specific code.

In [2]:
# import a module
import datascience as ds

In [3]:
# load in the imdb dataset into an object called imdb
imdb = Table.read_table('imdb.csv')

NameError: name 'Table' is not defined

## Import Error

You can take several approaches to importing modules into Python. import **module name** is the simplest approach, but it requires you to refer to the module in full when referencing content from that module (e.g., numpy.mean() when using the mean() function from numpy). from **module name** import * takes the opposite appraoch where you don't need to reference the module at all (e.g., if you loaded numpy from numpy import * you just need to call mean()). Although this sounds nice on the surface, this is not transparent: anyone viewing your code (and eventually you) will forget which functions belong to which modules, leading to future errors. Additionally, if there are multiple packages with the same function name and you import them as * it won't know which function you're referring to. The best way is to import the module as shorthand (e.g., import numpy as np, so np.mean()).

In [ ]:
imdb = ds.Table.read_table("imdb.csv")

## SyntaxError

Something in the syntax of your code is incorrect. You know how English has a syntax that forms well-structured sentences through correct ordering of words, phrases, and punctuation? Python has its own syntax to properly write code.

### "SyntaxError: EOL while scanning string literal" (A missing quotation mark for a string)
*EOL while scanning string literal*: EOL stands for end of line. You haven't closed out this line of code so Python doesn't think it's complete.

In [4]:
# SyntaxError Example
print("Hello BSOS233 students!)

SyntaxError: EOL while scanning string literal (3595539943.py, line 2)

Python helpfully tells us that are issue is in line 2 of the code chunk at the end of the line. If you look closely you should be able to notice we're missing a quotation mark to close out the string we're trying to print.

### "SyntaxError: invalid syntax" (Misspelling keywords)

In [5]:
# SyntaxError Example
x = 20
If x > 10:
    print("big num")

SyntaxError: invalid syntax (2933743221.py, line 3)

I was trying to do a conditional statement but I capitalized the keyword *if*, so Python is telling me I have *invalid syntax* in line 3. Remember, Python is case sensitive so it won't recognize keywords unless they are written in the correct case. In the eyes of Python, if != If (!= means does not equal).

### "SyntaxError: unexpected EOF while parsing" (Missing parentheses, brackets, or braces)

In [6]:
# SyntaxError Example
my_dictionary = {1: "Orla",
                 2: "Francis"

SyntaxError: unexpected EOF while parsing (1424252964.py, line 3)

*unexpected EOF while parsing*: EOF stands for end of file. This tells us that we're missing some sort of closing of our code. If we look closely at the error generated, we can see that at the end of line 3 we're missing a curly brace to close out our bracket assignment.

## IndentationError

As the name says, something's wrong with your indentation. Python code doesn't work unless you indent according to its standards.

### "IndentationError: expected an indented block" (Not correctly nesting if-statements, functions, loops)

In [2]:
# IndentationError Example
num = 5
if num > 0:
print("positive")

IndentationError: expected an indented block (2088402797.py, line 4)

Python tells us that our issue is in line 4 and that it *expected an indented block*. After our if statement, it was expecting the next line to be indented to tell it what to do if that statement is true.

### "IndentationError: unexpected indent" (Not consistently indenting code within conditionals, functions, and loops)
Similar to the error above except our indentation scheme deviates at some point.

In [4]:
# IndentationError Example
num = 5
if num > 0:
    print("positive")
        print("okay")

IndentationError: unexpected indent (1773944115.py, line 5)

## NameError
Python does not recognize the name of an object you've called.

### "NameError: name 'varable' is not defined" (Misspelling of variables)

In [3]:
# NameError Example
variable = "value"
print(varable)

NameError: name 'varable' is not defined

Python tells us that name 'varable' in line 3 is not defined. We know that we defined the object variable but if we look closely we can see that we misspelled it while trying to print it.

### "NameError: name 'Variable' is not defined" (Issues with capitalization)

In [11]:
# NameError Example
variable = "value"
print(Variable)

NameError: name 'Variable' is not defined

Our error message says that *name 'Variable' is not defined*. However, we know we defined that object. But if we look closely we can see in the print statement that we've capitalized the object name and Python is case sensitive, therefore treating this as a different object. This is why we recommend using snake case (ex: my_variable_is_cool) so that you know all of your object names are lowercase.

### "NameError: name 'my_variable_rocks' is not defined" (Variable hasn't been defined)

In [12]:
# NameError Example
print(my_variable_rocks)
my_variable_rocks = "BSOS233"

NameError: name 'my_variable_rocks' is not defined

Python says that *name 'my_variable_rocks' is not defined*. We've tried to use a variable before defining it. This is not allowed in Python. Python reads code top to bottom so we have to define a variable before using it.

### "NameError: name 'output' is not defined" (Variable was created inside a function and now you're trying to use it outside)

In [14]:
def best_function():
    output = "Functions are super useful"
    return output

print(output)

NameError: name 'output' is not defined

Our error message says that *name 'output' is not defined*. Any variable that gets defined inside a function is not accessible outside the function. Functions are local environments that do not create objects in the global envrionme

## ValueError
You used a valid function but the value you've attempted to pass through the function is incorrect.

### "ValueError: invalid literal for int() with base 10: 'One hundred'" (Writing out a number)

In [15]:
# ValueError Example
hundred = int("One hundred")

ValueError: invalid literal for int() with base 10: 'One hundred'

This error message *invalid literal for int() with base 10* tells us that the string we passed through the int function is invalid. Python cannot parse a number written out in this way to what it would be as an integer.

### "ValueError: max() arg is an empty sequence" (Not providing a value to a function)

In [9]:
# ValueError Example
my_list = []
max(my_list)

ValueError: max() arg is an empty sequence

We created an empty list (maybe with the intent to populate it later) and then tried to find the max of it. Like the error message tells us, the argument for max is an empty sequence.

### "ValueError: The column "rating" is not in the table. The table contains these columns: Votes, Rating, Title, Year, Decade, Highly Rated" (Capitalization issues in Tables)

In [12]:
imdb.select("rating")

ValueError: The column "rating" is not in the table. The table contains these columns: Votes, Rating, Title, Year, Decade, Highly Rated

Python has a very helpful error message for this issue: *The column "rating" is not in the table. The table contains these columns: Votes, Rating, Title, Year, Decade, Highly Rated*. It tells us that the column we've selected is not in the Table and lists all of the columns in the Table. From this we can see that we haven't capitalized "Rating" correctly.

## AttributeError

### "AttributeError: 'numpy.ndarray' object has no attribute 'where'" (Arrays versus Tables)

In [4]:
ratings = imdb.column("Rating")
ratings.where("Rating", are.above(8))

AttributeError: 'numpy.ndarray' object has no attribute 'where'

Our error message says *'numpy.ndarray' object has no attribute 'where'*. This is telling us that the ratings object we created is an array, but arrays can't use the attribute *where*. This may seem a little tricky but the key is that where only works on Tables. We should've used *.select* instead of *.column* to create a subset of the Table.

## ModuleNotFoundError

### "ModuleNotFoundError: No module named 'nmpy'" (Misspelling a package)

In [10]:
import nmpy as np

ModuleNotFoundError: No module named 'nmpy'

I've tried to import the numpy package here but Python says *No module named 'nmpy'*. We know that there is a numpy package, but if we look closely we've misspelled it here.

## TypeError
Type errors usually occur from mixing different variable types that can't be mixed in that way.

### "TypeError: unsupported operand type(s) for /: 'str' and 'int'" (Mixing strings and ints)

In [13]:
"3" / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

Anything in quotation marks is recognized as a string by Python. So here it thinks you are trying to divide a string by an integer which it isn't able to do. With this error, check that the objects you are trying to use are of the same type. If you can't tell, try using the type("3") function.

## Thinking Like a Programmer 

The best way to debug is to think like a programmer. Break the problem down into its simplest parts: if you're working with a bugged loop and can't find the error, take the code outside of the loop and validate a single condition. If you're working with a function you're creating, validate one piece of the function at a time so that you know exactly when an error pops up. Print objects often, double check casing, and be thorough when writing your code to minimize errors downstream. 

The most important thing is not to become frustrated. If you panic and start trying too many things, you will only generate more errors and become more flustered. At the end of the day, the program is going to do exactly what you tell it based on the rules of the language. That doesn't mean it can't be frustrating, but that means that the answer is usually something small—a missing punctuation mark, errors in casing, or something else. It's something you can solve, however, and the better at programming you become, the better at debugging you will get (and the less you will have to do it). Hang in there!