In [ ]:
# BSOS233 Lecture on Data Wrangling
# Jupyter Notebook created by Jacob J. Coutts

import numpy as np
from datascience import *

aggress = Table().with_columns(
    "Sex", make_array("Male", "Female", "Female", "Male", "Female"),
    "Aggression", make_array(3.55, 4.75, 6.55, 5.25, 5.25)
)
aggress.group("Sex", np.mean)

np.mean(aggress.where("Sex", are.equal_to("Female")).column("Aggression"))

In [ ]:
nfl = Table.read_table("nfl_salary.csv")
nfl.group("team")
nfl_subset = nfl.select("team","totalCash")
nfl_subset.group("team", np.mean).sort("totalCash mean",descending=True)

In [ ]:
full_aggress = Table().with_columns(
    "Sex", make_array("Male", "Female", "Female", "Male", "Female"),
    "Aggression", make_array(3.55, 4.75, 6.55, 5.25, 5.25),
    "Family_Anger", make_array("Yes", "No", "Yes", "Yes", "No")
)

full_aggress.group(["Sex","Family_Anger"])

full_aggress.group(["Sex","Family_Anger"], np.mean)
full_aggress.pivot("Sex", "Family_Anger", values="Aggression", collect=np.mean)

In [ ]:
salary = Table().with_columns(
 "SES", make_array("High","Low","Middle","Low","Middle"),
 "Salary", make_array(100000, 35000, 60000, 29000, 52000)   
)

happy = Table().with_columns(
 "SocioEconomic", make_array("High","Low","Middle"),
 "Happy", make_array(2.5, 4, 3.5)   
)

happy.join("SocioEconomic",salary,"SES")