In [9]:
# BSOS233 Lecture on Functions
# Jupyter Notebook created by Jacob J. Coutts

# load required packages
import datascience as ds
import numpy as np

# create a function to divide y by x
def divided(x,y):
    """
    divides argument 1 by argument 2 
    no libraries required
    no default arguments
    """
    ex = x/y
    return ex
# test function
divided(y = 3, x = 1.5)

0.5

In [11]:
def double(x): 
    """doubles x"""
    print(2*x)
    
double(2)*2

4

TypeError: unsupported operand type(s) for *: 'NoneType' and 'int'

In [8]:
# using conditionals to validate functions
# a better version of double that checks for errors
def double(x):
    """ doubles x"""
    if type(x) == [int,float] :
      return 2*x
    elif type(x) != int or type(x) != float:
      return print("You entered", x, "x must be numeric. Try again.")

double(2)

You entered 2 x must be numeric. Try again.

In [7]:
# a harder function
def trimmedmean(x):
    """
    calculates the trimmed mean of an array by eliminating highest and lowest value
    Default arguments: None
    Required libraries: import numpy as np
    """
    if type(x) == np.ndarray:
        trimmedx = np.mean(np.sort(x)[1:len(x)-1]) 
        return trimmedx
    else: 
        return "Error: Input must be a numpy array."
    
trimmedmean([1,2,3])

'Error: Input must be a numpy array.'

In [6]:
# functions with multiple arguments and one default
def halfround(x, ndigits=2):
    """
    cuts any number in half and rounds to specified precision
    Default arguments: Rounds to 2 decimal places by default
    Requi
    """
    return np.round(x/2,ndigits)

halfround(ds.make_array(4.644, 2323423423443.2113, 5))

array([  2.32000000e+00,   1.16171171e+12,   2.50000000e+00])

In [4]:
# in-class exercise possible solution 1
import datascience as ds
import numpy as np

percent = ds.Table().with_columns("Pretest",np.arange(-10,10),"Posttest", np.arange(90,110))
percent
def correct_values(x):
    """ 
    Limits values between zero and 100 
    Default arguments: none
    Required libraries: none
    """    
    newx = max(x,0)
    finalx = min(newx,100)
    return(finalx)

new_percent = ds.Table().with_columns("Pretest",percent.apply(correct_values, "Pretest"),"Posttest",percent.apply(correct_values, "Posttest"))
#new_percent
new_percent
#check1 = ds.Table().with_columns("Pretest",np.arange(-10000000,1000000))
#check1.apply(correct_values,"Pretest")

Pretest | Posttest
0       | 90
0       | 91
0       | 92
0       | 93
0       | 94
0       | 95
0       | 96
0       | 97
0       | 98
0       | 99
... (10 rows omitted)

In [3]:
# in-class exercise possible solution 2

percent = ds.Table().with_columns('Pretest', np.arange(-10,10), 'Posttest', np.arange(90,110))

def correct_values2(x):
    """ 
    Limits values between zero and 100 
    Default arguments: None
    Required libraries: None
    """
    if x < 0:
        x = 0
    elif x > 100:
        x = 100
    return x

new_percent = ds.Table().with_columns("Pretest",percent.apply(correct_values2, "Pretest"),"Posttest",percent.apply(correct_values2, "Posttest"))
new_percent

#check2 = Table().with_columns("Pretest",np.arange(-10000000,1000000))
#check2.apply(correct_values2,"Pretest")

Pretest | Posttest
0       | 90
0       | 91
0       | 92
0       | 93
0       | 94
0       | 95
0       | 96
0       | 97
0       | 98
0       | 99
... (10 rows omitted)

In [2]:
def weight_conversion (weight, basemetric = "kilograms"):
    """
    Converts weights from pounds to kilograms or vice versa
    Required libraries: None
    Default arguments: Weight assumed to be in kilograms
    """
    if basemetric == "pounds":
        return print("You entered", weight, "pounds, which is", weight*0.453592, "kilograms.")

    elif basemetric == "kilograms":
        return print("You entered", weight, "kilograms, which is", weight*2.20462, "pounds.")
    else:
        return print("Basemetric must be 'pounds' or 'kilograms'")

x = 100
weight_conversion(basemetric = "pounds",weight = 100)

You entered 100 pounds, which is 45.3592 kilograms.